<div class="backBtn">
  <button type="submit"> <a href="/back"> BACK</a></button>
</div>

<div class="greetedNames">
  <ul>
    {{#each listOfNames}}

    <a href="/counter/{{this.name_greeted}}">
      <li><h4>{{this.name_greeted}}</h4></li>

    </a>

    {{/each}}
  </ul>

</div>