<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title></title>
</head>

<body>
   

  <div class="container">

     <h1>PLEASE GREET</h1>

    <div class="container2">
      <form action="/" method="POST">
      <div class="entry">

       {{#if messages.info}}
        <h4> {{messages.info}}</h4>
      {{/if}}
      </div>

        <div class="textBox">
          <label for="name">Name</label>
          <input type="text" id="myText" name="name" value="" placeholder="write name" class="textbox" />
        </div>

        

        <input type="radio" id="radiobutton1" name="language" value="Xhosa" class="radioButton">Xhosa
        <input type="radio" id="radiobutton1" name="language" value="English" class="radioButton">English
        <input type="radio" id="radiobutton1" name="language" value="Afrikaans" class="radioButton">Afrikaans
        <div class="button">
          <input type="submit" value="greet">
          <button type="submit"> <a href="/reset"> reset </a></button>
          
        </div>


      </form>

      GREET message : {{message}}
      {{storeName}}

      <div class="counter">
        COUNTER : {{counter}}

      </div>

      <a href="/greeted">greeted names</a>


    </div>
  </div>

</body>

</html>