body{
  background-color:lightgrey;  
  background-image: url("greetings.jpg");

}

.container {
  background-image: url("greetings.jpg");
  background-color: gray;
  margin: auto;
  width: 50%;
}
form {
  padding: 10px;
}

h3{ 
  color: yellow;
}

h4{
  color: chartreuse;
}
.textBox{ 
  padding-bottom: 1em;
}
.radio {
  padding-bottom: 1em;
}
/* .button{

  float: initial;
  padding: 1em;
}
.counter{

  font: bold;

}

.entry h4{
  color: crimson;
} */

