body{
  background-color:lightgrey;  
  background-image: url("dark.jpg");

}

.container {
  background-image: url("dark.jpg");
  background-color: gray;
  margin: auto;
  width: 50%;
}
form {
  padding: 10px;
}

h3{ 
  color: white;
}

h2{
  color: white;
}
.textBox{ 
  padding-bottom: 1em;
}
.radio {
  padding-bottom: 1em;
}
.greetedBTN{
  position: relative;
  width: 100px;
  height: 23px;
  border-radius: 4px;
  background-color: lightgray;
  cursor: pointer;
  color: #393939;
  font-weight: 500;
  border: 1px solid black;
  text-align: center;
  margin-left: 19em;
}
.greetedBTN:hover{
  background-color: #3dcfd3;
  color: white;
  transition: all ease .3s;

}
.greetedBTN a{
  text-decoration: none;
  color: #292929;
  
}
.backBtn a{
  text-decoration: none;
  color: black;
}

.backBtn {
  text-align: center;
  margin-top: 15em;

}


.greetedNames a{
  text-decoration: none;
  color: darkred;
  list-style-type:none ;
  text-align: center;
}

.message {
  color: white;
  padding-top: 5px;
  text-align: center;
  padding-bottom: 20px;
}

.resetbutton a{
  text-decoration: none;
  color: black;
}

.container{
  text-align: center;
}

h1{
  color: aliceblue;
}

.entry{
  color: red;
}
.radio {
  font-size: 25px;
  color: antiquewhite;
}




