body{
  background-color:lightgrey;

}
.container {
  /* padding-bottom: 2em;
  padding-top: 2em ; */
  background-color: gray;
  margin: auto;
  width: 50%;
}
form {
  padding: 10px;
}


.textBox{ 
  padding-bottom: 1em;
}
.radio {
  padding-bottom: 1em;
}
/* .button{

  float: initial;
  padding: 1em;
}
.counter{

  font: bold;

}

.entry h4{
  color: crimson;
} */

